<h1>New Reservation Confirmed</h1>

<div class="well"/>
<p>
  <strong>Name:</strong>
  <%= @reservation.name %>
</p>
<p>
  <strong>Party Size:</strong>
  <%= @reservation.party_size %>
</p>
<p>
  <strong>Time:</strong>
  <%= @reservation.date_time %>
</p>
</div>